/* Feautures Section */

.youtube-player{
  margin-top: 5%;
}

/* comment */

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 50px;
    text-align: center;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 70px;
    width: 720px;
    border: 1px solid #F2F2F2;
    text-align: center;
}

/* title section */

.search-bar{
  margin-top: 15px;
}
.nav-item{
  font-size: 1.5rem;
}
.nav-link{
  color: #fff;
}
.navbar-brand{
  color: #fff;
}
